<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>


    <body>
        <%- include('../includes/nav.ejs') %>


            <main>
                <form class="product-form" action="/admin/edit-product" method="POST">
                    <div class="form-control">
                        <label for="title">Title</label>
                        <input type="text" name="product" id="title" value="<%= product.title %>">
                    </div>
                    <div class="form-control">
                        <label for="imageurl">Image URL</label>
                        <input type="text" name="imageurl" id="imageurl" value="<%= product.imageurl %>">
                    </div>
                    <div class="form-control">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="price" step="0.01" value="<%= product.price %>">
                    </div>
                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" rows="5"> <%= product.description %></textarea>
                    </div>

                           <!-- for csrf protection -->
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button class="btn" type="submit">Update product</button>
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="userId" value="<%= product.userId %>">
                </form>
            </main>

            <%- include('../includes/end.ejs') %>