<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    </head>


    <body>
        <%- include('../includes/nav.ejs') %>


            <main>
                <% if(errorMessage) { %> 
                    <div  class="user-message user-message-error"><%= errorMessage %> </div>
                    <% } %> 
                <form class="product-form" action="/admin/edit-product" method="POST" enctype="multipart/form-data">
                    <div class="form-control">
                        <label for="title">Title</label>
                        <input class="<%=(invalid=='Title')?"invalid":""%>"
                        type="text" name="product" id="title" value="<%=(oldInput.title)?oldInput.title:product.title %>">
                    </div>
                    <!-- <div class="form-control">
                        <label for="imageurl">Image URL</label>
                        <input class="<%=(invalid=='Imageurl')?"invalid":""%>"
                        type="text" name="imageurl" id="imageurl" value="<%=(oldInput.imageurl)?oldInput.imageurl:product.imageurl %>">
                    </div> -->
                    <div class="form-control">
                        <label for="image">Image</label>
                        <input type="file" name="image" id="image" >
                    </div>

                    <div class="form-control">
                        <label for="price">Price</label>
                        <input class="<%=(invalid=='Price')?"invalid":""%>"
                        type="number" name="price" id="price" step="0.01" value="<%=(oldInput.price)?oldInput.price:product.price %>">
                    </div>
                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea class="<%=(invalid=='Description')?"invalid":""%>"
                        name="description" id="description" rows="5"><%=(oldInput.description)?oldInput.description:product.description %></textarea>
                    </div>

                           <!-- for csrf protection -->
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <button class="btn" type="submit">Update product</button>
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="userId" value="<%= product.userId %>">
                </form>
            </main>

            <%- include('../includes/end.ejs') %>